<body class="error-page-403">
    <div class="error-403-container">
        <!-- Left content -->
        <div class="error-text">
            <h1>Ooops....</h1>
            <h2>Your authorization failed.</h2>
            <p>Please try refreshing the page and fill in the correct login details.</p>
            <a (click)="goLogin()" class="error-btn">Login</a>
        </div>

        <!-- Right image -->
        <div class="error-image">
            <img src="./assets/media/error/bg401.avif" alt="401 Forbidden" />
        </div>
    </div>
</body>