<body class="error-page-404">
    <div class="error-404-container">
        <!-- Left content -->
        <div class="error-text">
            <h1>Ooops....</h1>
            <h2>Page not found.</h2>
            <p>We can't seem to find the page you're looking for. Please check the URL for any typos.</p>
            <a (click)="goBack()" class="error-btn">Go Back</a>
        </div>

        <!-- Right image -->
        <div class="error-image">
            <img src="./assets/media/error/bg404.avif" alt="404 Forbidden" />
        </div>
    </div>
</body>