<div class="gridster-container" style="height: 900px">
  <gridster [options]="options">
    <gridster-item [item]="widget" *ngFor="let widget of dashboard; let i = index">
      <ng-container *ngIf="widget as w">
        <div class="widget-header">
          <div class="drag-handler widget-header-child widget-header-title">
            {{ w.name }}
          </div>
          <div class="widget-header-child">
            <button mat-button class="btn btn-light" style="color: #62A4FF">
              Bộ lọc
            </button>
          </div>
          <div class="widget-header-child">
            <button mat-button class="btn btn-light" style="color: #62A4FF">
              + Thêm mới
            </button>
          </div>
          <div class="widget-header-child widget-header-right">
            <button mat-icon-button (click)="closeWidget(+w.id)" class="btn btn-light" (mouseover)="getShowSetting(i, true)" (mouseout)="getShowSetting(i, false)">
              <span class="material-icons" style="font-size: 2.4rem !important; font-weight: 500; padding-bottom: 5.5px; color: #707070">
                close
              </span>
            </button>
          </div>
        </div>
        <div class="gridster-item-content" style="height: 100%">
          <ndc-dynamic
            [ndcDynamicComponent]="w.componentType"
            [ndcDynamicInputs]="getInput(w)"
            [ndcDynamicOutputs]="outputs"
          ></ndc-dynamic>
        </div>
      </ng-container>
    </gridster-item>
    <div id="button-edit-widget">
      <div class="example-flex-container">
        <button (click)="AddCloseWidget()" mat-mini-fab matTooltip="Thêm widget">
          <mat-icon style="margin-top: 4px;">add</mat-icon>
        </button>
      </div>
    </div>
  </gridster>
</div>