<body class="error-page-403">
    <div class="error-403-container">
        <!-- Left content -->
        <div class="error-text">
            <h1>Ooops....</h1>
            <h2>Access Denied</h2>
            <p>You don’t have permission to access this page.</p>
            <a (click)="goBack()" class="error-btn">Go Back</a>
        </div>

        <!-- Right image -->
        <div class="error-image">
            <img src="./assets/media/error/bg403.png" alt="403 Forbidden" />
        </div>
    </div>
</body>