<!-- begin:: Error -->
<div class="error-page error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
    style="background-image: url('./assets/media/error/bg500.jpg'); height: 100%;">
    <!--begin::Content-->
    <div class="container error-text d-flex flex-row-fluid flex-column justify-content-md-center p-12">
        <h1>
            Oops!
        </h1>
        <h2>
            Something went wrong here.
        </h2>
        <p>
            We're working on it and we'll get it fixed<br />
            as soon possible.<br />
            You can back or use our Help Center.
        </p>
        <div>

            <a (click)="goBack()" class="error-btn">Go Back</a>
        </div>
    </div>
    <!--end::Content-->
</div>
<!-- end:: Error -->