//
// Code
//
@import '../components/variables.bootstrap';
@import '../../../../node_modules/bootstrap/scss/mixins/border-radius';

code {
    background-color: $code-bg;
    padding: $code-padding;
    font-weight: 400;
    @include border-radius($border-radius);
}
